@use "variables";

body {
  padding: 0;
  margin: 0;
  background-color: variables.$primary-bg-color;
}

header.toolbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: variables.$primary-color;
  }

  nav {
    a {
      position: absolute;
      top: 20px;
      right: 10px;
      color: variables.$primary-color;
      text-decoration: none;
    }
  }
}

div.heros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .hero-wrapper {
    position: relative;
    width: 200px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: lightcyan;

    .hero-img {
      // border: 1px solid black;
      height: 120px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 15px;
    }
  }
}

section.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  button {
    font-size: 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    padding: 10px;
  }

  .main-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .tag-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  section.filter-container {
    gap: 10px;

    button {
      font-size: 16px;
    }

    .main-filters {
      flex-basis: 360px;
    }

    .tag-filters {
      flex-basis: 200px;
      gap: 15px;
    }
  }
}

@media (max-width: 450px) {
  div.hero-wrapper {
    width: 250px;
  }

  header.toolbar {
    nav {
      a {
        top: 46px;
        right: 5px;
      }
    }
  }
}
